* {
    box-sizing: border-box;
    outline: none;
}
img {
    width: 100%;
}
html,
body {
  /* border: 1px solid black; */
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 2605px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  font-family: "PingFang TC";
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0 auto;
}
.main-color {
  color: #3f5d45;
}
.sub-color {
  color: #EAF0ED;
}
.title-txt {
  font-size: 24px;
}
.sub-txt {
  font-size: 20px;
}
.header {
  position: relative;
  top: 30px;
  width: 940px;
  height: 40px;
  margin: 0 auto;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoBox {
    width: 25%;
}
.menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .txtBox {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.menu .shopImg {
    width: 10%;
}
.header-txt {
  color: #3F5D45;
}
.shopImg {
 width: 10%;
 position: relative;
 top: 6px;
}
.header-p {
  padding-top: 10px;
  padding-bottom: 8px;
}
.card-hex {
  height: 56px;
  left: 173px;
  right: 127px;
}
.banner {
  position: relative;
  top: 70px;
  left: 42px;
  width: 940px;
  height: 496px;
}
.contain {
  position: relative;
  width: 940px;
  top: 120px;
  left: 42px;
  display: flex;
  justify-content: space-between;
}
.contain .menu-list ul li {
  width: 300px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 1px solid #EAF0ED;
  color: #3F5D45;

}
.contain .menu-list ul li:nth-child(1),
.contain .card-list .pages ul li:nth-child(2) {
  background: #3F5D45 0% 0% no-repeat padding-box;
  color: #EAF0ED;
}
.contain .menu-list ul li:nth-child(2) {
  background: #EAF0ED 0% 0% no-repeat padding-box;
  border: 1px solid #EAF0ED;
  letter-spacing: 0px;
}
.contain .card-list {
  width: 620px;
  display: flex;
  flex-direction: column;
}
.contain .card-list .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contain .card-list .cards .card .cardInner {
  position: relative;
}
.contain .card-list .cards .card {
  width: 300px;
}
.contain .card-list .cards .card .cardInner .cardImg {
  width: 300px;
  height: 315px;
}
.contain .card-list .cards .card .cardInner .txt {
  position: absolute;
  top: 0;
  left: 20px;
  width: 36px;
  height: 107px;
  background: #3F5D45 0% 0% no-repeat padding-box;
  font: normal normal 600 16px/20px PingFang TC;
  letter-spacing: 0px;
  color: #EAF0ED;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3em;
}
.contain .card-list .cards .card .cardInner .heart {
  position: absolute;
  top: 19px;
  right: 22px;
  width: 20px;
  height: 18px;
}
.contain .card-list .cards .card .productName  {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EAF0ED;
  color: #3f5d45;
  width: 300px;
  height: 56px;
  display: flex;
}
.contain .card-list .cards .card .productName .name{
  width: 173px;
  height: 56px;
  text-align: center;
  border-right: 1px solid #EAF0ED;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contain .card-list .cards .card .productName .price {
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal 600 20px/24px PingFang TC;
}
.contain .card-list .cards .card .addCart {
  font-size: 24px;
  color: #3f5d45;
  width: 300px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAF0ED 0% 0% no-repeat padding-box;
  border: 1px solid #EAF0ED;
}
.contain .card-list .pages {
    width: 620px;
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
.contain .card-list .pages ul {
    border: 1px solid #EAF0ED;
    border-right: 0px;
    display: flex;
}
.contain .card-list .pages ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-right: 1px solid #EAF0ED;
}
.contain .card-list .pages ul>li>img {
    width: 24px;
    height: 24px;
}
