* {
    box-sizing: border-box;
    outline: none;
}
body {
  font-family: "PingFang TC";
  line-height: 1.5;
}
.wrap {
  margin: 0 auto;
  width: 1024px;
 }
img {
    width: 100%;
    display: block;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.75;
  cursor: pointer;
}
.main-color {
  color: #3f5d45;
}
.sub-color {
  color: #EAF0ED;
}
.title-txt {
  font-size: 24px;
}
.sub-txt {
  font-size: 20px;
}
.header {
  margin: 30px 42px;
  width: 940px;
  display: flex;
  justify-content: space-between; 
}
.logoBox {
    width: 25%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .txtBox {
    display: flex;
    justify-content: space-between;
}
.menu .shopImg {
    width: 10%;
}
.header-txt {
  padding: 0px 15px;
}
.header-txt a{
  color: #3F5D45;
  text-decoration: none;
}
.shopImg {
 width: 10%;
 position: relative;
 top: 6px;
}
.header-p {
  padding-top: 10px;
  padding-bottom: 8px;
}
.card-hex {
  height: 56px;
  left: 173px;
  right: 127px;
}
.banner {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.contain {
  margin: 0 auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
}
.menu-list h2,
.menu-list ul li {
  padding: 15px 75px;
  border: 1px solid #EAF0ED;
}
.menu-list h2,
.menu-list ul li a{
  text-decoration: none;
  width: 300px;
  text-align: center;
  font-size: 24px;
  color: #3F5D45;
}
.menu-list h2, .choosePage {
  background: #3F5D45 0% 0% no-repeat padding-box;
  color: #EAF0ED;
}
.menu-list ul li.choosed {
  background: #EAF0ED 0% 0% no-repeat padding-box;
  border: 1px solid #EAF0ED;
  letter-spacing: 0px;
}
.card-list {
  width: 620px;
  display: flex;
  flex-direction: column;
}
.card-list .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cardInner {
  position: relative;
}
.card{
  width: 300px;
}
.txt {
  position: absolute;
  top: 0;
  left: 20px;
  padding: 10px;
  background: #3f5d45;
  font-weight: bold;
  letter-spacing: 3px;
  color: #eaf0ed;
  writing-mode: vertical-lr;
}
.heart {
  position: absolute;
  top: 19px;
  right: 22px;
  width: 20px;
  height: 18px;
}
.product-detail {
  display: flex;
  text-align: center;
  border: 1px solid #EAF0ED;
  color: #3F5D45;
  font-size: 20px;
 }
 .product-name {
  flex: 1;
  padding: 14px 0;
  border-right: 1px solid #EAF0ED;
 }
 .product-price {
  font-weight: bold;
  width: 127px;
  padding: 14px 0;
 }
.addCart {
  font-size: 24px;
  color: #3f5d45;
  width: 300px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAF0ED 0% 0% no-repeat padding-box;
  border: 1px solid #EAF0ED;
}
.pages {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
.pages ul {
    border: 1px solid #EAF0ED;
    border-right: 0px;
    display: flex;
}
.pages ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #EAF0ED;
}
.pages ul>li>a {
  color: #3f5d45;
  padding: 20px 28px;
}
.choosePage a {
  background: #3F5D45 0% 0% no-repeat padding-box;
  color: #EAF0ED !important;
}
.pd-10 {
  padding: 20px 22px !important;
}
